
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoonda59.eot?vdw2jk');
  src:  url('../fonts/icomoonda59.eot?vdw2jk#iefix') format('embedded-opentype'),
    url('../fonts/icomoonda59.ttf?vdw2jk') format('truetype'),
    url('../fonts/icomoonda59.woff?vdw2jk') format('woff'),
    url('../fonts/icomoonda59.svg?vdw2jk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}







.icon-implants .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-implants .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-implants .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-implants .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-implants .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-implants .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-implants .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-implants .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-implants .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth .path1:before {
  content: "\e909";
  color: rgb(139, 196, 63);
}
.icon-tooth .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tooth .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-tooth .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth1 .path1:before {
  content: "\e90f";
  color: rgb(139, 196, 63);
}
.icon-tooth1 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tooth1 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-tooth1 .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth1 .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth1 .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path11:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tooth1 .path12:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth1 .path13:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tooth1 .path14:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth-1 .path1:before {
  content: "\e91d";
  color: rgb(255, 255, 255);
}
.icon-tooth-1 .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth-1 .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth-1 .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth-1 .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tooth-1 .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth-1 .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-tooth-1 .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tooth-1 .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-tooth-1 .path10:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-gum .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.icon-gum .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-gum .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-gum .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-gum .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-gum .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(139, 196, 63);
}
.icon-tool .path1:before {
  content: "\e92d";
  color: rgb(139, 196, 63);
}
.icon-tool .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tool .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tool .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(50, 182, 161);
}
.icon-tool .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tool .path6:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tool .path7:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tool .path8:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-tool .path9:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-clock:before {
  content: "\e936";
}
.icon-teeth:before {
  content: "\e937";
}
.icon-support:before {
  content: "\e938";
}
.icon-gps:before {
  content: "\e939";
}
.icon-date:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e93b";
}
.icon-support-1:before {
  content: "\e93c";
}
.icon-calendar:before {
  content: "\e93d";
}
.icon-doctor:before {
  content: "\e93e";
}
.icon-teeth-1:before {
  content: "\e93f";
}
.icon-dentist:before {
  content: "\e940";
}
.icon-dental:before {
  content: "\e941";
}
.icon-teeth-2:before {
  content: "\e942";
}
.icon-tooth-2:before {
  content: "\e943";
}
.icon-down:before {
  content: "\e944";
}
.icon-arrow:before {
  content: "\e945";
}
.icon-search:before {
  content: "\e946";
}
.icon-doctor-1:before {
  content: "\e947";
}
.icon-tooth-3:before {
  content: "\e948";
}
.icon-hospital:before {
  content: "\e949";
}
.icon-dental-1 .path1:before {
  content: "\e94a";
  color: rgb(255, 255, 255);
}
.icon-dental-1 .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-1 .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-dental-1 .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 230, 0);
}
.icon-dental-1 .path5:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-1 .path6:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-dental-1 .path7:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-1 .path8:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-1 .path9:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path1:before {
  content: "\e953";
  color: rgb(255, 230, 0);
}
.icon-dentist-1 .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dentist-1 .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-dentist-1 .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path6:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path7:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-dentist-1 .path8:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path9:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-dentist-1 .path10:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path11:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dentist-1 .path12:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dentist-1 .path13:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dentist-1 .path14:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path1:before {
  content: "\e961";
  color: rgb(234, 52, 87);
}
.icon-healthcare-and-medical .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-healthcare-and-medical .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 230, 0);
}
.icon-healthcare-and-medical .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path6:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path7:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path8:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical .path9:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-1 .path1:before {
  content: "\e96a";
  color: rgb(255, 230, 0);
}
.icon-healthcare-and-medical-1 .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-1 .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-healthcare-and-medical-1 .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-1 .path5:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-healthcare-and-medical-1 .path6:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-healthcare-and-medical-2 .path1:before {
  content: "\e970";
  color: rgb(255, 230, 0);
}
.icon-healthcare-and-medical-2 .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-2 .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-healthcare-and-medical-2 .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-healthcare-and-medical-2 .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-healthcare-and-medical-2 .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-2 .path7:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-healthcare-and-medical-2 .path8:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-healthcare-and-medical-2 .path9:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-healthcare-and-medical-2 .path10:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-2 .path1:before {
  content: "\e97a";
  color: rgb(255, 255, 255);
}
.icon-dental-2 .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-2 .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 231, 255);
}
.icon-dental-2 .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(234, 52, 87);
}
.icon-dental-2 .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(96, 47, 117);
}
.icon-dental-2 .path6:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 230, 0);
}
.icon-play:before {
  content: "\e980";
}
.icon-petri-dish:before {
  content: "\e981";
}
.icon-dentist-2:before {
  content: "\e982";
}
.icon-ui:before {
  content: "\e983";
}
.icon-arrow-1:before {
  content: "\e984";
}
.icon-word:before {
  content: "\e985";
}
.icon-text-file:before {
  content: "\e986";
}
.icon-comment:before {
  content: "\e987";
}
.icon-social-media:before {
  content: "\e988";
}
.icon-heart:before {
  content: "\e989";
}
.icon-reload:before {
  content: "\e98a";
}
.icon-question:before {
  content: "\e98b";
}
.icon-phone:before {
  content: "\e98c";
}
.icon-book:before {
  content: "\e98d";
}

