﻿body {
    font-family: 'Changa', sans-serif;
}
.main-menu.style1 .navigation li, .appointment-form-left form .single-box .input-box button { float: right; }
.top-left ul li {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}
.header-contact-info ul { margin-right: 200px; margin-left: 0; }
.top-right p { padding-right: 25px; padding-left: 0; }
.main-slider, .services-style1-area .services-carousel, .team-area-v2, .works-tab-box,
.testimonial-area, .hidden-bar .copy-right-text, .owl-carousel.owl-loaded, .footer-bottom-area { direction: ltr; }
.about-area, .footer-area, .main-slider .slide-content .big-title, .main-slider .slide-content .text, 
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action, .main-menu.style1 .navigation > li:hover > ul,
.doctor-content, .contact-info-map, .contact-form, .what-wedo-content, .transform-smile-content, #blog-area, 
.accordion-box .accordion .accord-content p, .accordion-box .accordion .accord-btn, .visit_timetable tbody tr,
.appointment-right .confirm-booking ul li { text-align: right; }
.btn-two span:before {
    padding-left: 9px;
}
.highlights-area .single-middle-box form .input-box .icon-box { left: 15px; right: auto; }
.testimonial-area .owl-theme .owl-nav.disabled + .owl-dots { right: -104px; left: auto; }
.single-footer-widget .title:before, .single-footer-widget  li a:before, .single-wedo-box .inner .image,
.transform-smile-content .text-holder ul li:before, .blog-prev-next-option .single.prev .image-thumb, 
.blog-single-area .inner-comment-box .single-comment-box .img-holder, .appointment-form-left form .single-box .title { right: 0; left: auto; }
.single-footer-widget li a { padding-right: 20px; padding-left: 0; }
.main-slider .slide-content .btn-box a, .breadcrumb-area .breadcrumb-menu ul li, 
.single-blog-post.single_post .top-box .right .meta-box .meta-info { float: right; }
.works-area { padding-top: 0; }
.float-right { float: left!important; }
.float-left {
    float: right !important;
}
.breadcrumb-area .breadcrumb-menu ul li { padding-left: 10px; padding-right: 0; }
.fa-angle-right:before, .flaticon-next:before,.single-blog-post.single_post .smile-design-content-box .accordion-box .accordion .accord-btn::after {
    content: "\f104";
}
.main-menu.style1 .navigation li ul li a:after { content: "\f104"; right: 0; left: auto; }
.main-menu.style1 .navigation > li > ul > li:hover > a { padding-right: 30px; padding-left: 0; }
.single-doctor-item .text-holder {
    margin-right: 0;
    margin-right: -35px;
}
.testimonial-area .inner-content { padding-right: 200px; padding-left: 0;  }
.single-wedo-box .inner { padding-right: 80px; padding-left: 0; }
.single-wedo-box .inner .text { padding-right: 20px; padding-left: 0; }
.transform-smile-content .text-holder ul li { padding-right: 30px; }
.single-blog-post.single_post .smile-design-content-box .accordion-box .accordion .accord-btn {
    padding-right: 75px;
    padding-left: 20px;
}
.single-blog-post.single_post .smile-design-content-box .accordion-box .accordion .accord-btn::after, 
.accordion-box .accordion .accord-btn::after { right: 27px; left: auto; }
.author-box-holder .inner-box .text { padding-right: 40px; padding-left: 0; }
.single-blog-post.single_post .tag-holder-box .right p i { padding-left: 10px; padding-right: 0; }
.blog-prev-next-option .single.prev { float: right; padding-right: 80px; }
.blog-prev-next-option .single.prev .title { padding-right: 20px; }
.blog-prev-next-option .single.next { float: left; }
.blog-prev-next-option .single.next .image-thumb { left: 0; right: auto; }
.blog-prev-next-option .single.next .title { padding-left: 20px; }
.blog-single-area .inner-comment-box .single-comment-box .text-holder { margin-right: 30px; margin-left: 0; }
.blog-single-area .inner-comment-box .single-comment-box { 
/*    padding-right: 80px; */
    padding-left: 0; 
}
.accordion-box .accordion .accord-btn { padding-right: 75px; padding-left: 20px; }
.single-box { padding-right: 130px; padding-left: 0; }
.single-box .input-box .icon-box { left: 19px; right: auto; }
.appointment-right form .button-box button { margin-left: 7px; margin-right: 0; }
.tp-leftarrow { border-top-right-radius: 150px; border-bottom-right-radius: 150px; }
.tp-rightarrow { border-top-left-radius: 150px; border-bottom-left-radius: 150px; }
.ui-selectmenu-menu .ui-menu { text-align: right; }
