	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/12/2019 20:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-next:before { content: "\f100"; }
.flaticon-remove:before { content: "\f101"; }
.flaticon-check:before { content: "\f102"; }
.flaticon-arrow:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-multimedia:before { content: "\f105"; }
.flaticon-e-mail-envelope:before { content: "\f106"; }
.flaticon-message:before { content: "\f107"; }
.flaticon-pencil:before { content: "\f108"; }
.flaticon-document:before { content: "\f109"; }
.flaticon-comment:before { content: "\f10a"; }